*,*::after,*::before {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    width: 100%;
    font-family: 'Lato',sans-serif;
    margin: 0;
    padding: 0; 
    height: 100vh;
    background: #8360c3;  
    background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);  
    background-image: linear-gradient(to right, #2ebf91, #8360c3); 
    display: grid;
    place-items: center;

}

.profile_menu {
    width: 12rem;
    height: 48rem;
    background-color: #f7f7f7;
    position: absolute;
    border-radius: 5px;
    top: 20%;
    left: 20%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 1rem;
    box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, .25);
}
.profile_menu div a {
    text-decoration: none;
}
.profile_menu div {
    text-align: center;
    cursor: pointer;
}
.profile_menu div:hover i{
    color: #26ae60 !important;
}
.profile_menu div:not(:last-child) {
   margin-bottom: 1.5rem;
}
.profile_menu div i {
    font-size: 2.1rem;
    color: #3b3b3b;
    /* color: #10A881; */
    margin-bottom: .5rem;
    transition: all .2s ease;
}
.profile_menu div h5 {
    color: #3b3b3b;
    font-size: 1.4rem;
    font-weight: 550;
    transition: all .2s ease;
}
.profile_menu div:hover h5{
    color: #26ae60 !important;
}
.profile_menu--hr {
    width: 60%;
    border-top: 1px solid rgba(0, 0, 0, .15);
    margin: .3rem 0 1.5rem 0;
}


/* Wrapper STYLING */

.wrapper {
    width: 55%;
    height: 55rem;
    /* background-color: purple; */
    display: flex;
    justify-content: space-between;
    position: relative;
    transform: translateX(10%);
    border-radius: 3px;
    box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, .25);
}

/* =================================== */
/* Left Column Styling */
.leftColumn {
    width: 45%;
    height: 100%;
    background: purple;
    position: relative;
}
.left-container {
    width: 111%;
    height: 111%;
    background: #f3f3f3;
    position: absolute;
    z-index: 50;
    top: -5%;
    left: -10%;
    border-radius: 5px;
    box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, .25);
}



.profile-image__box {
    width: 100%;
    height: 55%;
    background-color: #eee;
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .15), rgba(0, 0, 0, .2)),url("../images/5.jpg");
    background-position: center center;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
    z-index: 1;

}

.profile-img {
    width: 15rem;
    height: 15rem;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);
    border: 1px solid #eee;
    border-radius: 50%;
    box-shadow: 0rem .5rem 1.6rem rgba(180, 236, 180, .8);
    background-image: url("../images/profile_image.jpg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
}

.profile_content {
    width: 100%;
    height: 35%;
    /* background-color: rgb(122, 122, 122); */
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 1rem 1.5rem;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 5;
}
.profile_content--name {
    color: #26ae60;
    font-weight: 400;
    font-size: 2.3rem;
    letter-spacing: 1px;
}
.profile_content--job {
    color: rgb(42, 42, 42);
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: .3rem;
}
.profile_content--follow {
    color: rgb(42, 42, 42);
    font-weight: 400;
    font-size: 1.4rem;
    margin-top: 2.5rem;
}
.social_icons {
    /* background-color: red; */
    width: 40%;
    display: flex;
    margin-top: 1.5rem;
    justify-content: space-around;
}
.social_icons .icons {
    font-size: 1.8rem;
    color: #3b3b3b;
    cursor: pointer;
}

.profile_download {
    /* background-color: red; */
    width: 75%;
    height: 6.5rem;
    display: flex;
    margin-top: 1.8rem;
    justify-content: space-between;
    align-items: center;
    /* background: #c8b9e4; */
    position: relative;
}
.profile_download h5 {
    letter-spacing: 1px;
    position: relative;
    font-size: 1.4rem;
    font-weight: 700;
    color: #3b3b3b;
    z-index: 5;
    cursor: pointer;
    transition: all .2s ease;
}
.profile_download h5:hover {
    color: #26ae60;
}
.profile_download h5:first-child::before {
    content: '';
    position: absolute;
    width: 135%;
    height: 200%;
    /* background: yellow; */
    top: -55%;
    left: 0;
    z-index: -1;
    border-right: 1px solid;
    border-right-color: #e6e6e6;
    border-top: 1px solid;
    border-top-color: #e6e6e6;
}
.profile_download h5 span {
    margin-left: .5rem;
    position: relative;
    cursor: pointer;
}




/* ============================================== */




/* Right column STYLING */
.rightColumn {
    width: 57%;
    height: 100%;
    background: #fbfbfb;
    position: relative;
    border-radius: 3px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: visible;
}
.rightColumn::-webkit-scrollbar {
    width: .8rem;
    /* background-color: #aaa !important; */
}
.rightColumn::-webkit-scrollbar-track {
    background-color: #d3d3d3;
    border-radius: 10px;
}
.rightColumn::-webkit-scrollbar-thumb {
    height: 25rem;
    background-color: #5e5d5d;
    border-radius: 10px;
}

.section-about {
    width: 100%;
    padding: 2.5rem 2.3rem 2.5rem 3.5rem;
    color: #4e4d4d;
    position: relative;
}
.section-about h3 {
    font-size: 2rem;
    margin-bottom: 2.4rem;
    font-weight: 600;
    position: relative;
    z-index: 1;
}
.section-about h3::after {
    content: '';
    position: absolute;
    width: 25%;
    height: 109%;
    top: 0%;
    left: -2%;
    background-image: linear-gradient(to right, #d5f8d5, #f7f7f5 ,#fff);
    border-radius: 5rem;
    z-index: -1;
}
.section-about p {
    font-size: 1.5rem;
}
.info {
    width: 85%;
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.5rem;
}
.info div {
    font-size: 1.5rem;
}
.info div p {
    font-weight: 550;
    color: #4e4d4d;
    text-transform: uppercase;
    font-size: 1.4rem
}
.info div p span {
    color: #9b9999;
    text-transform: initial;
    font-weight: 400;
}
.services {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3.5rem;
    margin-bottom: 4rem;
    position: relative;
}
.services_info {
    /* background: rgb(145, 191, 231); */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 45%;
    position: relative;
    z-index: 1;
}
.services_info:not(:last-child)::before {
    content: '';
    position: absolute;
    width:100%;
    height: 80%;
    top: 20%;
    left: 0;
    z-index: -1;
    border-right: 1px solid;
    border-right-color: rgba(226, 226, 226, 0.2);;
}
.services_info i {
    font-size: 3.8rem;
    color: #76c397;
    margin-bottom: 3.2rem;
    position: relative;
    z-index: 1;
}
.services_info i::after {
    content: '';
    position: absolute;
    width: 8rem;
    height: 8rem;
    z-index: -1;
    top: -12%;
    left: -6%;
    background-image: linear-gradient(to right, #b9f1b9, #f7f7f5);
    border-radius: 50%;
}
.services_info h4 {
    font-size: 1.4rem;
    font-weight: 550;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    color: #4e4d4d;
    letter-spacing: 1px;
}
.services_info p {
    font-size: 1.4rem;
    color: #4e4d4d;
}


/* Packages */
.packages {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3.5rem;
    margin-bottom: 3.8rem;
    position: relative;
}
.package_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 45%;
    position: relative;
    z-index: 5;
    /* background-color: #8360c3; */
    align-items: center;
}
.package_info::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    top: 30%;
    left: 10%;
    border-right: 1px solid;
    border-right-color: rgba(226, 226, 226, 0.2);
    z-index: -1;
}
.package_info div {
    text-align: center;
    margin-bottom: 1.8rem;
    font-size: 2rem;
    position: relative;
}
.package_info div i {
    font-size: 2.8rem;
    color: #76c397;
    position: relative;
}

.package_info p {
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
    color: #4e4d4d;
    font-weight: 550;
}
.package_info .money {
    margin-bottom: 1.5rem;
    font-size: 3.4rem;
    color: #111111;
    font-weight: 550;
}
.package_info .dollar {
    color: #b3b3b3;
    font-size: 2rem;
    position: relative;
    margin-right: .7rem;
    top: -20%;
}
.package_info .hour {
    color: #b3b3b3;
    font-size: 1.7rem;
    margin-left: .3rem;
    position: relative;
}
.package_info hr {
    width: 65%;
    height: 0;
    border-top: 1px solid rgba(226, 226, 226, 0.15);
    margin-bottom: 1.2rem;
}
.package_info .btn {
    padding: .8rem 1.8rem;
    /* background-color: #26ae60; */
    color: #26ae60;
    font-weight: 600;
    /* text-decoration: none; */
    font-size: 1.5rem;
    margin-top: 2rem;
    border-radius: 5rem;
    transition: all .3s ease;
    text-transform: uppercase;
}
.package_info .btn:hover {
    
    background-color: #26ae60;
    color: #f7f7f7;
    transform: translateY(-4px);
    text-decoration: none;
}
.package_info .btn:active {
    
    background-color: #26ae60;
    color: #f7f7f7;
    transform: translateY(0px);
    text-decoration: none;
}

/* TESIMONIALS */
.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    /* background: purple; */
    margin-top: 4rem;
    position: relative;
}
.client {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: aquamarine; */
    position: relative;
    margin-bottom: 6.5rem;
}
.client .client_image {
    width: 7rem;
    height: 7rem;
    border-radius: 5rem;
    box-shadow: 0rem .4rem .5rem rgba(0, 0, 0, .2);    
}
.client .img1 {
    background: url("../images/profile1.jpg") no-repeat;
    background-size: cover;
    background-position: top center;
}
.client .img2 {
    background: url("../images/profile-img3.jpg") no-repeat;
    background-size: cover;
    background-position: top center;
}
.client .img3 {
    background: url("../images/profile-img4.jpg") no-repeat;
    background-size: cover;
    background-position: top center;
}
.client .client-text {
    font-size: 1.6rem;
    color: #757575;
    font-style: italic;
    position: relative;
}
.client .client-text .top {
    position: absolute;
    top: -120%;
    left: 10%;
    color: #cacaca;
}
.client .client-text .bottom {
    position: absolute;
    bottom: -120%;
    right: 10%;
    color: #cacaca;
}


/* ============= SECTION RESUME  ===================== */
/* RESUME Styling */
.section-resume {
    width: 100%;
    padding: 2.5rem 2.3rem 2.5rem 3.5rem;
    color: #4e4d4d;
    position: relative;
}
.section-resume h3 {
    font-size: 2rem;
    margin-bottom: 2.5rem;
    font-weight: 600;
    position: relative;
    z-index: 1;
}
.section-resume h3::after {
    content: '';
    position: absolute;
    width: 25%;
    height: 109%;
    top: 0%;
    left: -2%;
    background-image: linear-gradient(to right, #d5f8d5, #f7f7f5 ,#fff);
    border-radius: 5rem;
    z-index: -1;
}
.exp_edu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    z-index: 5;
    margin-bottom: 3.2rem;
}
/* .exp_edu h4 {
    font-size: 1.4rem;
    text-transform: uppercase;
    position: absolute;
    top: -10%;
    left: 15%;
}
.exp_edu h4 i {
    font-size: 3rem;
    color: #26ae60;
    margin-right: 1.5rem;
    position: absolute;
} */
.experience {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    /* background: #8360c3; */
    width: 46%;
}
.experience span {
    font-size: 2.8rem;
    color: #26ae60;
    margin-right: .8rem;
}
.experience h4 {
    display: inline-block;
    font-size: 1.4rem;
    text-transform: uppercase;
}
.experience h6 {
    font-size: 1.3rem;
    color: #26ae60;
    margin-top: 2.1rem;
}
.experience h5  {
    font-size: 1.6rem;
    font-weight: 600;
    color: #4e4d4d;
    margin-top: .7rem;
}
.experience .city {
    font-size: 1.3rem;
    color: #999898;
}
.experience p {
    font-size: 1.4rem;
    color: #4e4d4d;
    font-weight: 400;
    margin-top: 1rem;
}

.skills {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    z-index: 5;
}
.code-design {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    /* background: #8360c3; */
    width: 46%;
}
.code-design span {
    font-size: 2.8rem;
    color: #26ae60;
    margin-right: .8rem;
}
.code-design h4 {
    display: inline-block;
    font-size: 1.4rem;
    text-transform: uppercase;
}
.skills__content {
    margin-top: 2rem;
    width: 100%;
}
.skills__content h5 {
    font-size: 1.3rem;
    color: #808080;
    margin-bottom: 1rem;
}
.percent {
    width: 100%;
    height: 6px;
    background-color: #e4e4e4;
    border-radius: 1.5rem;
}
.score {
    height: 6px;
    background-color: #26ae60;
    border-radius: 1.5rem;
}
.ninety_five {
    width: 95%;
}
.eighty_five {
    width: 85%;
}
.seventy {
    width: 70%;
}
.eighty {
    width: 80%;
}
.ninety {
    width: 90%;
}
.fifty {
    width: 50%;
}
.thirty {
    width: 30%;
}





/* ============== SECTION WORKS ====================== */
/* WORKS STYLING */

.section-works {
    width: 100%;
    padding: 2.5rem 2.3rem 2.5rem 3.5rem;
    color: #4e4d4d;
    position: relative;
}

.section-works h3 {
    font-size: 2rem;
    margin-bottom: 4rem;
    font-weight: 600;
    position: relative;
    z-index: 1;
}
.section-works h3::after {
    content: '';
    position: absolute;
    width: 40%;
    height: 109%;
    top: 0%;
    left: -2%;
    background-image: linear-gradient(to right, #d5f8d5, #f7f7f5 ,#fff);
    border-radius: 5rem;
    z-index: -1;
}
.all_works {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    z-index: 5;
    margin-bottom: 3.5rem;
}
.card {
    width: 48%;
    height: 20rem;
    background-color: #2ebf91;
    position: relative;
    border-radius: 3px;
    box-shadow: 0rem .8rem 1rem rgba(0, 0, 0, .25);
    cursor: pointer;
    z-index: 1;
    transition: all .3s ease;
}
.card::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .1);
    top: 0;
    left: 0;
    transition: all .3s ease;
}
.card:hover::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    top: 0;
    left: 0;
}
.card:hover .card__body {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
    transition: transform .3s ease;
}
.card_bg1 {
    background: url("../images/portfolio-banner.jpg") no-repeat;
    background-position: top center;
    background-size: cover;
}
.card_bg2 {
    background: url("../images/portfolio-banner2.jpg") no-repeat;
    background-position: top center;
    background-size: cover;
}
.card__body {
    position: absolute;
    width: 90%;
    top: 35%;
    left: 5%;
    /* transform: translate(-50%,-50%); */
    transform: scaleX(0);
    transform-origin: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    opacity: 1;
    transition: transform .3s ease;
}
.card__text {
    color: #fff;
    font-size: 1.65rem;
    margin-bottom: 1.5rem;
}
.card__btn {
    display: block;
    font-size: 1.4rem;
    color: #f7f7f7;
    padding: .5rem 1.8rem;
    text-decoration: none;
    background-color: #26ae60;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5rem;
}




/* =================== SECTION BLOG ====================================== */
/* BLOG STYLING */
.section-blog {
    width: 100%;
    padding: 2.5rem 2.3rem 2.5rem 3.5rem;
    color: #4e4d4d;
    position: relative;
}

.section-blog h3 {
    font-size: 2rem;
    margin-bottom: 4rem;
    font-weight: 600;
    position: relative;
    z-index: 1;
}
.section-blog h3::after {
    content: '';
    position: absolute;
    width: 25%;
    height: 109%;
    top: 0%;
    left: -2%;
    background-image: linear-gradient(to right, #d5f8d5, #f7f7f5 ,#fff);
    border-radius: 5rem;
    z-index: -1;
}
.blog {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 5;
    margin-bottom: 3.5rem;
}
.blog_link {
    width: 100%;
    height: auto;
    display: block;
}
.blog_image  {
    width: 100%;
    height: 20rem;
    background-color: orangered;
    position: relative;
    z-index: 1;
    transition: all .25s ease;
}
.blog_image::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .75);
    transform: scaleY(0);
    transform-origin: top;
    z-index: 2;
    transition: transform .25s ease;
}
.blog_image:hover::after {
    transform: scaleY(1);
    transform-origin: bottom
}
.blog_image:hover .blog_date {
    transform: scaleY(1);
    transform-origin: bottom;
}
.blog_image:hover .blog_button {
    transform: scaleY(1);
    transform-origin: bottom;
    /* transform: translate(-50%,-50%); */
}

.blog_date {
    position: absolute;
    top: 55%;
    left: 8%;
    width: auto;
    height: auto;
    padding: .3rem 1.5rem;
    background: #f7f7f7;
    text-align: center;
    z-index: 6;
    border-radius: 1px;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .4s ease;
}
.blog_date h2 {
    font-size: 2.4rem;
    color: #111111;
}
.blog_date p {
    font-size: 1.4rem;
    color: #3b3b3b;
}
.blog_button{
    position: absolute;
    top: 40%;
    left: 40%;
    display: block;
    padding: .8rem 1.5rem;
    border-radius: 5rem;
    color: #f7f7f7;
    background-color: #26ae60;
    font-size: 1.3rem;
    text-transform: uppercase;
    text-decoration: none;
    /* transform: translate(-50%,-50%) !important; */
    letter-spacing: 1px;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .4s ease;
    z-index: 6;
}
.blog_button:hover {
    background-color: #f7f7f7;
    color: #26ae60;
    transition: all .35s ease;
}
.blogBg1 {
    background: url("../images/1.jpg") no-repeat;
    background-position: center center;
    background-size: cover;
}
.blogBg2 {
    background: url("../images/macbook1.jpg") no-repeat;
    background-position: center center;
    background-size: cover;
}
.blogBg3 {
    background: url("../images/nodejs.png") no-repeat;
    background-position: center center;
    background-size: cover;
}
.blog_body {
    margin-top: 2.5rem;
    text-align: center;
}
.blog_body a {
    font-size: 1.3rem;
    color: #636363;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .25s ease;
}
.blog_body a:hover {
    color: #26ae60;
}
.blog_body h6 {
    font-size: 1.2rem;
    color: #a1a1a1;
    margin-top: .7rem;
}




/* ===================== SECTION CONTACT ======================================= */
/* Contact STYLING */

.section-contact {
    width: 100%;
    padding: 2.5rem 2.3rem 2.5rem 3.5rem;
    color: #4e4d4d;
    position: relative;
}

.section-contact h3 {
    font-size: 2rem;
    margin-bottom: 4rem;
    font-weight: 600;
    position: relative;
    z-index: 1;
}
.section-contact h3::after {
    content: '';
    position: absolute;
    width: 25%;
    height: 109%;
    top: 0%;
    left: -2%;
    background-image: linear-gradient(to right, #d5f8d5, #f7f7f5 ,#fff);
    border-radius: 5rem;
    z-index: -1;
}
.contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    z-index: 5;
    margin-bottom: 3.5rem;
    /* background: orange; */
    padding: 2rem 0;
}
.form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    /* background-color: #b9f1b9; */
    color: #4e4d4d;
    margin-bottom: 1rem;
}
.form-group label {
    font-size: 1.5rem;
    margin-right: .8rem;
}
.form-control {
    width: 75%;
}
.form-control input {
    font-size: 1.5rem;
    width: 100%;
    height: 3rem;
    margin-left: .8rem;
    border: 1px solid #999898;
    border-radius: 5px;
    padding: .5rem .9rem;
    outline: none;
}
.form-control input:focus {
    border: 1px solid #2ebf91;
    border-radius: 5px;
}
.form-control textarea {
    padding: .5rem 1rem;
    border-radius: 5px;
    border: 1px solid #999898;
    box-sizing: border-box;
    outline: none;
    margin-left: .7rem;
    font-size: 1.8rem;
}
.form-control textarea:focus {
    border: 1px solid #2ebf91;
    border-radius: 5px;
}
.submit_btn {
    display: block;
    align-self: flex-end;
    /* position: absolute;
    z-index: 5;
    bottom: -10%;
    right: 15%; */
    padding: .6rem 1.5rem;
    background-color: #1cb886;
    color: #f7f7f7;
    font-size: 1.7rem;
    text-transform: uppercase;
    text-decoration: none;
    margin: 1rem 7.5rem 0 0;
    border-radius: 2px;
    transition: all .35s ease;
    letter-spacing: 1px;
}
.submit_btn:hover {
    background-color: #26ae60;
}


@media screen and (max-width: 768px) {
    .profile_menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 70%;
        height: auto;
        position: relative;
        top: 53%;
        left: 0;
        padding: 1.5rem 1.5rem;
    }
    .profile_menu div:not(:last-child) {
        margin-bottom: 0;
    }
    .profile_menu div i {
        font-size: 1.7rem
    }
    .profile_menu div h5 { 
        font-size: 1.2rem;
    }
    .profile_menu--hr {
        display: none;
        
    }


    /* wrapper */
    .wrapper {
        width: 80%;
        max-height: 55rem;
        height: 55rem;
        display: block;
        /* flex-direction: column;
        justify-content: flex-start;
        align-items: center; */
        overflow: scroll;
        overflow-y: scroll;
        overflow-x: hidden;
        transform: translateX(0);
    }
    .wrapper::-webkit-scrollbar {
        width: .8rem;
        /* background-color: #aaa !important; */
    }
    .wrapper::-webkit-scrollbar-track {
        background-color: #d3d3d3;
        border-radius: 10px;
    }
    .wrapper::-webkit-scrollbar-thumb {
        height: 25rem;
        background-color: #5e5d5d;
        border-radius: 10px;
    }
    /* left column styling */
    .leftColumn {
        width: 100%;
        height: 55rem;
        position: relative;
        z-index: 5;
        border: none;
        box-shadow: 0rem .5rem .8rem rgba(0, 0, 0, .55);
    }
    .left-container {
        width: 100%;
        height: 100%;
        position: relative;
        top: 0;
        left: 0;
        border: none;
        z-index: 5;
        border-radius: 0px;
    }
    .profile_download h5:first-child::before {
        width: 120%;
        top: -65%;
    }



    /* right column styling */
    .rightColumn {
        width: 100%;
        height: 75rem !important;
        position: relative;
        overflow: scroll;
        overflow-x: hidden;
        overflow-y: visible;
        z-index: 100;
        border-radius: 0px;
    }

    .info {
        flex-direction: column;
    }
    .info div p {
        font-size: 1.35rem;
    }
    .info div:not(:last-child) {
        margin-bottom: 1.5rem;
    }
    .info div p:not(:last-child) {
        margin-bottom: .7rem;
    }

    .services_info i {
        font-size: 2.5rem;
    }
    .services_info i::after {
        width: 5rem;
        height: 5rem;
        left: -4%;
    }
    .services_info:not(:last-child)::before {
        width: 105%;
    }
    .services_info h4 {
        font-size: 1.2rem;
    }
    .services_info p {
        font-size: 1.2rem;
    }
    



    .package_info div {
        font-size: 1.5rem;
    }
    .package_info div i {
        font-size: 2.4rem;
    }
    .package_info .money {
        font-size: 2.5rem;
    }
    .package_info .dollar {
        font-size: 1.5rem;
    }
    .package_info .hour {
        font-size: 1.3rem;
    }
    .package_info p {
        font-size: 1.15rem;
    }
    .package_info .btn {
        font-size: 1.2rem;
        padding:  .5rem 1rem;
    }



    /* TESTIMONIAL */
    .testimonial {
        margin-top: 9rem;
    }
    .client .client-text {
        font-size: 1.4rem;
    }




    .experience h4 {
        font-size: 1.2rem;
    }
    .experience span {
        font-size: 1.5rem;
    }

    .experience h5 {
        font-size: 1.3rem;
    }
    .experience h6 {
        font-size: 1.2rem;
    }
    .experience p {
        font-size: 1.25rem;
    }

    .code-design h4 {
        font-size: 1.2rem;
    }
    .code-design span {
        font-size: 1.5rem;
    }
    .skills__content h5 {
        font-size: 1.1rem;
    }

    .card {
        width: 45%;
        height: 16rem;
    }


    .form-group {
        width: 95%;
    }
    .form-control {
        width: 62%;
    }
    .form-control textarea {
        width: 100%;
    }
    .submit_btn {
        margin-right: 1.5rem;
    }
    .card__text {
        font-size: 1.25rem;
    }
    .card__btn {
        font-size: 1.2rem;
        padding: .5rem 1.2rem;
    }
}

